.movies-card-list {
  padding: 80px 70px;
  box-sizing: border-box;
}

.movies-card-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  row-gap: 60px;
  column-gap: 30px;
}
