.burger {
  display: none;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.burger__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 520px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(100%);
  transition: transform .3s ease;
  z-index: 51;
}

.burger__container_visible {
  transform: translateX(0);
}

.burger__content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 159px 90px 90px;
  box-sizing: border-box;
}

.burger__close-button {
  background-image: url(../../images/header-cross.svg);
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .burger__container {
    width: 100%;
  }
  .burger__content {
    padding-left: 46px;
    padding-right: 46px;
  }
}

@media screen and (max-width: 320px) {
  .burger__content {
    padding-top: 144px;
    padding-bottom: 46px;
  }
  .burger__close-button {
    top: 12px;
    right: 12px;
  }
}
