.header {
  min-height: 74px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_blue {
  background-color: #465DFF;
}

.header__nav {
  display: flex;
  gap: 44px;
}

.header__logo {
  background-image: url(../../images/header-logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
}

.header__auth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__register {
  all: unset;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.header__login {
  all: unset;
  width: 76px;
  height: 32px;
  background-color: #2BE080;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.header__profile {
  all: unset;
  width: 100px;
  height: 32px;
  background-color: #F9F9F9;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.header__link {
  text-decoration: none;
}
