.filter-checkbox {
  width: 167px;
  display: flex;
  gap: 14px;
  cursor: pointer;
}

.filter-checkbox__item {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.filter-checkbox__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #EBEBEB;
}

.filter-checkbox__pseudo-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}

.filter-checkbox__item:checked + .filter-checkbox__pseudo-item {
  background-color: #2BE080;
  justify-content: right;
}

.filter-checkbox__item:focus-visible + .filter-checkbox__pseudo-item {
   outline: 2px solid #000000;
}

.filter-checkbox__label-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}
