@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.link {
  cursor: pointer;
  transition: opacity .3s ease;
}

.link:hover {
  opacity: .7;
}

.button {
  cursor: pointer;
  transition: opacity .3s ease;
}

.button:hover {
  opacity: .8;
}

.input:focus {
  outline: 2.5px solid #e2e2e2;
}
