.nav-tab {
  background-color: #F5F5F5;
  min-height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-tab__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-tab__item {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.nav-tab__link {
  color: #000000;
}

@media screen and (max-width: 320px) {
  .nav-tab__list {
    gap: 24px;
  }
  .nav-tab__item {
    font-size: 11px;
  }
}
